<app-header [title]="'Expenses report activities'" [isLink]="true"></app-header>

<div class="container-fluid content">
  <h1 class="title-report">Displaying the final calculated expenses</h1>
  <div class="report">
    <ng-container *ngFor="let expense of expenseWithDetailsMap | keyvalue">
      <div class="my-3" *ngIf="!!expense">
        <h3 class="total ml-3 mt-4">
          <span class="green" *ngIf="isExpenseValueGreaterThanMinusOne(expense)"><i class="fa-solid fa-hand-holding-dollar mr-2"></i>Amount {{expense.key}} is owed:  <span class="font-weight-bold">{{getExpenseValue(expense) | currency: 'CAD':'symbol-narrow':'1.2-2': 'en'}}</span></span>
          <span class="red" *ngIf="isExpenseValueLessThanZero(expense)"><i class="fa-solid fa-hand-holding-dollar mr-2"></i>Amount {{expense?.key}} needs to pay back:  <span class="font-weight-bold">{{getExpenseValue(expense) | currency: 'CAD':'symbol-narrow':'1.2-2': 'en'}}</span></span>
        </h3>
      </div>
    </ng-container>
    <hr>
    <div class="mt-5 mb-3 report-calculation" *ngIf="!!expenseWithDetailsMap.size">
      <span>After adding all the above expenses amount. It should be equal to: </span>
      <span class="font-weight-bold ml-1">$0</span>
      <br><br>
      <span>The sum of the above number equals: </span>
      <span class="font-weight-bold ml-1">{{expensesSum | currency: 'CAD':'symbol-narrow':'1.2-2': 'en' }}</span>
    </div>
  </div>
</div>
