.total {
  font-size: 25px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.title-report {
  color: #acacab;
}

.report-calculation {
  font-size: 22px;
}

.content {
  font-family: 'Prompt', sans-serif !important;
}