<div class="container content">
  <div class="jumbotron header">
    <h1><a routerLink="/">Expenses report</a></h1>
  </div>
  <div>
    <paid-by [passToComponent]="true" (expensesWithOwedAmountEvent)="onChange($event, 'paidBy')"></paid-by>
  </div>
  <hr>
  <div class="mt-3">
    <owed-by [passToComponent]="true" (expensesWithOwedAmountEvent)="onChange($event, 'owedBy')"></owed-by>
  </div>

  <div class="my-5">
    <h3 class="total ml-3 mt-4">
      <span class="green" *ngIf="amountToReturn > -1"><i class="fas fa-hand-holding-usd mr-2"></i>A mount {{selectedTraveler}} owes them:  <span class="font-weight-bold">{{amountToReturn | currency: 'CAD':'symbol-narrow':'1.2-2': 'en'}}</span></span>
      <span class="red" *ngIf="amountToReturn < 0"><i class="fas fa-hand-holding-usd mr-2"></i>A mount {{selectedTraveler}} needs to pay back:  <span class="font-weight-bold">{{amountToReturn | currency: 'CAD':'symbol-narrow':'1.2-2': 'en'}}</span></span>
    </h3>
  </div>
</div>

