<div class="container content">
  <div class="jumbotron header">
    <h1><a routerLink="/">Expenses report activities</a></h1>
  </div>
  <h1 class="my-5">Viewing {{activity?.activityName}}</h1>
  <table class="table report" *ngIf="activity">
    <tbody>
    <tr>
      <td class="field"> <i class="fas fa-hamburger"></i>
        <span class="ml-2">Activity name:</span></td>
      <td class="field-value">{{activity.activityName}}</td>
    </tr>

    <tr>
      <td class="field">
        <i class="fas fa-dollar-sign"></i>
        <span class="ml-2">Spent amount:</span>
      </td>
      <td class="field-value">{{activity.amount | currency: 'CAD':'symbol-narrow':'1.2-2': 'en' }}</td>
    </tr>
    <tr>
      <td class="field">
        <i class="fas fa-dollar-sign"></i>
        <span class="ml-2">Paid by:</span>
      </td>
      <td class="field-value">{{activity?.paidBy?.firstName | titlecase}} {{activity?.paidBy?.lastName | titlecase}}</td>

    </tr>
    <tr>
      <td class="field">
        <i class="fas fa-hand-holding-usd"></i>
        <span class="ml-2">Owed by:</span>
      </td>
      <td class="field-value"><span *ngIf="activity.owedBy">{{getOwedBy(activity.owedBy)}}</span></td>
    </tr>
    <tr>
      <td class="field">
        <i class="fas fa-calendar-alt"></i>
        <span class="ml-2">Activity date:</span>
      </td>
      <td class="field-value">{{activity.activityDate | date:'longDate'}}</td>
    </tr>
    <tr>
      <td class="field">
        <i class="fas fa-info-circle"></i>
        <span class="ml-2">Details:</span>
      </td>
      <td class="field-value">{{activity.details}}</td>
    </tr>
    </tbody>
  </table>

</div>
