<div class="container content">
  <div class="jumbotron header">
    <h1><a routerLink="/">Expenses report activities</a></h1>
  </div>
  <h1 class="my-5">Viewing {{expense?.activityName}}</h1>
  <table class="table report" *ngIf="expense">
    <tbody>
    <tr>
      <td class="expense-field"> <i class="fas fa-hamburger"></i>
        <span class="ml-2">Activity name:</span></td>
      <td>{{expense.activityName}}</td>
    </tr>

    <tr>
      <td class="expense-field">
        <i class="fas fa-dollar-sign"></i>
        <span class="ml-2">Spent amount:</span>
      </td>
      <td>{{expense.amount | currency: 'CAD':'symbol-narrow':'1.2-2': 'en' }}</td>
    </tr>
    <tr>
      <td class="expense-field">
        <i class="fas fa-dollar-sign"></i>
        <span class="ml-2">Paid by:</span>
      </td>
      <td>{{expense.paidBy}}</td>
    </tr>
    <tr>
      <td class="expense-field">
        <i class="fas fa-hand-holding-usd"></i>
        <span class="ml-2">Owed by:</span>
      </td>
      <td>{{expense.owedBy.join(', ')}}</td>
    </tr>
    <tr>
      <td class="expense-field">
        <i class="fas fa-calendar-alt"></i>
        <span class="ml-2">Activity date:</span>
      </td>
      <td>{{expense.activityDate}}</td>
    </tr>
    <tr>
      <td class="expense-field">
        <i class="fas fa-info-circle"></i>
        <span class="ml-2">Details:</span>
      </td>
      <td>{{expense.details}}</td>
    </tr>
    </tbody>
  </table>

</div>
