.expenses {
    padding: 24px;
}


// div.report > table > tr:nth-child(1) {
//     background: #eef3f3;
// }

.add-activity {
  margin-right: -15px;
}

.add-traveler {
  margin-left: auto;
}


.action {
  span, i {
    cursor: pointer;

    &:hover {
      color: #969696;
    }
  }
}

.filter {
  padding: 13px;
}

.create-buttons {
  padding: 15px;
}
