<div class="container content">
  <div class="jumbotron header mb-1">
    <h1>Expenses report activities</h1>
  </div>
  <div class="filter mb-3">
    <div class="row">
      <div class="col-10">
        <h2>Filter expenses</h2>
      </div>
      <div class="col-2 p-0">
        <h2><a routerLink="zipline">Enjoy this video</a></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-10">
        <mat-form-field appearance="fill">
          <mat-label>Paid by only</mat-label>
          <mat-select class="ml-2" placeholder="Paid by only"
                      matTooltip="Paid by only"
                      [(ngModel)]="selectedPaidBy">
            <mat-option *ngFor="let traveler of travelers" [value]="traveler">
              {{traveler}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2 p-0">
        <button [disabled]="!selectedPaidBy.length" mat-raised-button color="primary"
                matTooltip="Filter by paid by only"
                (click)="navigateToPaidByPage()">Filter by paid by</button>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <mat-form-field appearance="fill">
          <mat-label>Owed by only</mat-label>
          <mat-select class="ml-2" placeholder="Owed by only"
                      matTooltip="Owed by only"
                      [(ngModel)]="selectedOwedBy">
            <mat-option *ngFor="let traveler of travelers" [value]="traveler">
              {{traveler}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2 p-0">
        <button [disabled]="!selectedOwedBy.length" mat-raised-button color="primary"
                matTooltip="Filter by owed by only"
                (click)="navigateToOwedByPage()">Filter by owed by</button>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <mat-form-field appearance="fill">
          <mat-label>Paid by & Owed by</mat-label>
          <mat-select class="ml-2" placeholder="Owed by"
                      matTooltip="Owed by"
                      [(ngModel)]="selectedBothPaidByAndOwedBy">
            <mat-option *ngFor="let traveler of travelers" [value]="traveler">
              {{traveler}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2 p-0">
        <button [disabled]="!selectedBothPaidByAndOwedBy.length" mat-raised-button color="primary"
                matTooltip="Filter by both paidBy and owedBy"
                (click)="navigateToBothPaidAndOwedPage()">Filter by both</button>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
      </div>
      <div class="col-2 p-0">
        <button mat-raised-button color="primary"
                matTooltip="Display final expenses"
                (click)="navigateToDisplayAllPage()">Display calculated expenses</button>
      </div>
    </div>

  </div>
  <div class="report">
    <table class="table" *ngIf="!!expenses.length">
      <tr>
        <th>
          <span>Activity name</span>
        </th>
        <th>
          <span>Amount</span>
        </th>
        <th>
          <span>Activity date</span>
        </th>
        <th>
          <span>Paid by</span>
        </th>
        <th>
          <span>Owed by</span>
        </th>
        <th>
          <span>Has a note?</span>
        </th>
      </tr>
      <ng-container *ngFor="let expense of expenses">
        <tr>
          <td>
            <a routerLink="display-expense/{{expense.id}}">{{expense.activityName}}</a>
          </td>
          <td>
            <span>{{expense.amount | currency: 'CAD':'symbol-narrow':'1.2-2': 'en' }}</span>
          </td>
          <td>
            <span>{{expense.activityDate}}</span>
          </td>
          <td>
            <span>{{expense.paidBy}}</span>
          </td>
          <td>
            <span *ngIf="expense.owedBy">{{expense.owedBy.join(', ')}}</span>
          </td>
          <td>
            <span *ngIf="expense && expense?.details?.length"><i class="fas fa-comment-alt" [matTooltip]="expense.details || ''"></i></span>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>
