<app-header *ngIf="!passToComponent" [title]="'Expenses report activities'" [isLink]="true"></app-header>

<div class="container-fluid content">
  <h1 class="title-report">Activities/food paid by {{selectedTraveler?.firstName | titlecase}} {{selectedTraveler?.lastName | titlecase}}</h1>
  <div class="report">
    <table class="table" *ngIf="!!expenses.length">
      <tr>
        <th>
          <span>Activity name</span>
        </th>
        <th>
          <span>Amount paid</span>
        </th>
        <th>
          <span>Amount minus your part /<br>Amount they owe you</span>
        </th>
        <th>
          <span>Paid by</span>
        </th>
        <th>
          <span>Owed by</span>
        </th>
        <th>
          <span>Activity date</span>
        </th>
        <th>
          <span>Has a note?</span>
        </th>
      </tr>
      <ng-container *ngFor="let expense of expenseWithOwedAmounts">
        <tr>
          <td>
            <a (click)="openLink(expense)">{{expense.activityName | titlecase}}</a>
          </td>
          <td>
            <span>{{expense.amount | currency: 'CAD':'symbol-narrow':'1.2-2': 'en' }}</span>
          </td>
          <td>
            <span>{{expense.expensesWithOwedAmount | currency: 'CAD':'symbol-narrow':'1.2-2': 'en' }}</span>
          </td>
          <td>
            <span class="font-weight-bold">{{expense.paidBy.firstName | titlecase}} {{expense.paidBy.lastName | titlecase}}</span>
          </td>
          <td>
            <span class="font-weight-bold" *ngIf="expense.owedBy">{{getOwedBy(expense.owedBy)}}</span>
          </td>
          <td>
            <span>{{expense.activityDate | date:'longDate'}}</span>
          </td>
          <td>
            <span *ngIf="expense && expense.details?.length"><i class="fas fa-comment-alt" [matTooltip]="expense.details || ''"></i></span>
          </td>
        </tr>
      </ng-container>
    </table>
    <div class="my-3">
      <h3 class="total">Total spent amount by {{selectedTraveler?.firstName | titlecase}} {{selectedTraveler?.lastName | titlecase}} is <span class="font-weight-bold">{{totalPaidAmount | currency: 'CAD':'symbol-narrow':'1.2-2': 'en'}}</span></h3>
    </div>
    <div class="my-3">
      <h3 class="total">Total amount they owe {{selectedTraveler?.firstName | titlecase}} {{selectedTraveler?.lastName | titlecase}}:  <span class="font-weight-bold">{{totalExpensesWithOwedAmount | currency: 'CAD':'symbol-narrow':'1.2-2': 'en'}}</span></h3>
    </div>
  </div>
</div>
